<%- include('header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">To-Do-List</h1>
    <h2 class="display-3">Let's be productive</h2>
    <p class="lead">Tip - Keep the tougest task in the top of your list</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('footer') %>
